<div class="row">
  <div class="small-12 columns">
    <canvas id="logoflick"></canvas>
    <div class="glow1">
      <div class="glow2">
      </div>
    </div>
    <div class="logo"></div>
  </div>
</div>