<div class="row element">
  <div class="large-12 columns">
    <h2>Realm<span>List</span></h2>
    <table>
      <tr>
        <td class="orange2 text-center realmlist">set realmlist logon.europe-arena.com</td>
    </table>
  </div>
</div>