<div class="large-3 columns right">
  <div class="row element">
    <div class="large-12 columns">
      <h2>Server <span>Infos</span></h2>
      <table>
        <tr>
          <td>Server : </td>
          <td class="blue">Online</td>
        </tr>
        <tr>
          <td>Version : </td>
          <td class="red">3.3.5a</td>
        </tr>
        <tr>
          <td>Online players : </td>
          <td class="orange">3785</td>
        </tr>
      </table>
    </div>
  </div>
</div>