<!DOCTYPE html>
<html class="no-js" lang="en">
<html>
  <head>
    <title>Europe-Arena</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "app.css" %>
  </head>

  <body>
    <%= yield %>

    <script src="assets/javascripts/bower_components/jquery/dist/jquery.js"></script>
    <script src="assets/javascripts/bower_components/what-input/what-input.js"></script>
    <script src="assets/javascripts/bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="assets/javascripts/proton-1.0.0.min.js"></script>
    <script src="assets/javascripts/app.js"></script>

  </body>
</html>